button {
    font-size: 1rem;
    background-color: #b3b3b3;
    color: #232323;
    padding: 0.5rem 32px;
    margin: 0.5rem 0.2rem;
    border: none;
    border-radius: 0.3rem;
    transition: 0.5s;
}

button:hover {
    filter: brightness(1.1);
}

.sucesso {
    background-color: green;
    color: #f9f9f9;
}

.alerta {
    background-color: #ffd000;
    color: #232323;
}

.erro {
    background-color: #f30101;
    color: #f9f9f9
}