
button {
    font-size: 1rem;
    background-color: #b3b3b3;
    color: #232323;
    padding: 0.5rem 32px;
    margin: 0.5rem 0.2rem;
    border: none;
    border-radius: 0.3rem;
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

.sucesso {
    background-color: #468c00;
    color: #f9f9f9;
}

.alerta {
    background-color: #ffd000;
    color: #232323;
}

.erro {
    background-color: #ff024a;
    color: #f9f9f9;
}